.font-style {
  font-family: "poppins", sans-serif;
}

.form-control {
  background-color: #E9EDF1;
  border: none;
  padding: 12px
}

.form-control:focus {
  border: none;
  box-shadow: none;
  background-color: #E9EDF1;
}

.button {
  background-color: #FB7600;
  border: none;
  width: 130px;
  margin: 6px;
}

.button:hover {
  background-color: #c46411;
}

.button:focus {
  border: none;
  box-shadow: none;
  background-color: #FB7600;
}

.button-search {
  background-color: #E9EDF1;
  margin-left: -20px;
}

.navItem-style {
  font-weight: 600;
  font-size: 1.2rem;
  color: #333,
}

.header {
  background-color: #E9EDF1;
  height: 350px;
  width: 100%;
  color: #333,
}
